#header{
	height: 121px; 
	background: #ffffff
	

}

nav{
	text-align:left;
	font-family: 'Amatic SC', cursive;
	font-size:32px;
	font-weight: bold;
}


a:link {
    color: #ffffff;
}

a:visited {
    color: #fff0a5;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}


body {
	background-repeat: repeat;	/*body背景圖片重複 #b2d0dd*/
	font-size:15px;
	color: rgba(255,255,255,10);
	font-family: 'Oswald', sans-serif;
	font-family: 'Amatic SC', cursive;

/*	background-repeat: url("pic/fishMove.gif");*/
} 

hr {border-color: #057491;

}

h3 {font-family: 'Amatic SC', cursive;
	font-size:54px;
	font-weight: bold;
}

h4 {font-family: 'Amatic SC', cursive;
	font-size:36px;
	font-weight: bold;
}

.container {
	font-family: 'Quicksand', sans-serif;
	text-align:center;

}


.nav{
	text-align:center;
	margin:0px auto;
	font-size:18px;
}

#content-body{
	margin:0px auto;
	/*background-color: rgba(144,185,210,80);*/
	padding: 20px;

	
    background-image: url("pic/b3.png");
    background-repeat: no-repeat;
	/*44a8cc  45a9cd*/
}

 div.img {
                margin: 5px;
                padding: 20px;
                border: 1px solid #90b9d2;
                height: auto;
                width: auto;
                float: left;
 				position:  relative;
 				left: 2%;
                text-align: center;

    			background-image: url("pic/b3.png");
   				background-repeat: no-repeat;
            }

            div.img img {
                display: inline;
                margin: 5px;
                border: 1px solid #ffffff;
            }

            div.img a:hover img {
                border:1px solid #45a9cd;
            }

            div.desc {
                text-align: center;
                font-weight: normal;
                width: 120px;
                margin: 5px;
            }

#tzuyu{
	display: inline;
                margin: 5px;
                padding: 10px;
                border: 1px solid #b2d0dd;
}


#sidebar{
	margin:10px auto;
	text-align:center;

	/*background-color: rgba(0,143,180,20);*/

	
  /*  background-image: url("pic/b1.png");
    background-repeat: no-repeat;
	/*44a8cc  45a9cd*/
}


#Wrapper {
	margin:0 auto;
	width:800px;
	padding:0 10px;
}

/*.footer {
	text-align:center;

}*/

#f1{
	position: absolute;
	z-index:2;
	left:0%;
	text-align:left;
}


#f2{
	position: absolute;
	/*top: 1800px;*/
	left: 60%;
	z-index:1;
}

#footer{
    background-image: url("pic/b2.png");
    background-repeat: no-repeat;

}


#Content {
	margin:100 auto;
	float:left;	/*Content靠左貼齊*/
	width:400px;	/*Content寬度*/
}



