body {
	background-repeat: repeat;	/*body背景圖片重複*/
	font-size:14px;
	color:white;
} 

#sidebar {
	margin:100 auto;
	width:1000px;
	height:500px;
	padding-left:400px; /*左邊留白10ont align="left"
	float:right;*/
	background-image: url(http://tzuyulien.github.io/tzuyuintro/pic/b1.png);

 	f
	
}


#Wrapper {
	margin:0 auto;
	width:800px;
	padding:0 10px;
}


#Content {
	margin:100 auto;
	float:left;	/*Content靠左貼齊*/
	width:400px;	/*Content寬度*/
}
